<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>xiazaishangchuan</display-name>
  <welcome-file-list>
    <welcome-file>static/index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>NoteFilter</filter-name>
    <filter-class>filter.NoteFilter</filter-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>192.168.9.0</param-value>
    </init-param>
    <init-param>
      <param-name>list</param-name>
      <param-value>zhongguo</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>NoteFilter</filter-name>
    <url-pattern>/gao/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>tfilter</filter-name>
    <filter-class>filter.TFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>tfilter</filter-name>
   <!--   <url-pattern>/cheng/*</url-pattern>-->
   <servlet-name>servlet2</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>sfilter</filter-name>
    <filter-class>filter.SFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sfilter</filter-name>
    <url-pattern>/wang/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>listener.MySessionLiftListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>filter.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/wang/filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>filter.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/wang/filter2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>uptoserver.Up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploaddata</servlet-name>
    <servlet-class>uptoserver.UploadServerlet</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>D:/websource/download</param-value>
    </init-param>
    <init-param>
      <param-name>tempfilepath</param-name>
      <param-value>D:/websource/tmp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploaddata</servlet-name>
    <url-pattern>/upload_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie</servlet-name>
    <servlet-class>cookie.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie1</servlet-name>
    <servlet-class>cookie.Cookie1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie1</servlet-name>
    <url-pattern>/cookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>dispatcher.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcheraction</servlet-name>
    <servlet-class>dispatcher.OutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcheraction</servlet-name>
    <url-pattern>/outer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher_1</servlet-name>
    <servlet-class>dispatcher.CheckServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher_1</servlet-name>
    <url-pattern>/dispatcher1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher_2</servlet-name>
    <servlet-class>dispatcher.OutputServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher_2</servlet-name>
    <url-pattern>/outer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>include</servlet-name>
    <servlet-class>include.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>include</servlet-name>
    <url-pattern>/include</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>include_1</servlet-name>
    <servlet-class>include.GreetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>include_1</servlet-name>
    <url-pattern>/greet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>redirect.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect_1</servlet-name>
    <servlet-class>redirect.IncludeOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect_1</servlet-name>
    <url-pattern>/redirectout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <jsp-file>/jsp/content.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsp1</servlet-name>
    <jsp-file>/jsp/datasource.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsp1</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspsession</servlet-name>
    <jsp-file>/jsp/session.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspsession</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspsession1</servlet-name>
    <jsp-file>/jsp/session_1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspsession1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspsession2</servlet-name>
    <jsp-file>/jsp/session_1_1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspsession2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspel</servlet-name>
    <jsp-file>/jsp/el.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspel</servlet-name>
    <url-pattern>/el</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspel1</servlet-name>
    <jsp-file>/jsp/el_1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspel1</servlet-name>
    <url-pattern>/el1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspel2</servlet-name>
    <jsp-file>/jsp/el_2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspel2</servlet-name>
    <url-pattern>/el2</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>sessionservlet</servlet-name>
    <servlet-class>session.Session_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionservlet</servlet-name>
    <url-pattern>/sessionservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessionservlet2</servlet-name>
    <servlet-class>session.session_1_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionservlet2</servlet-name>
    <url-pattern>/sessionservlet2</url-pattern>
  </servlet-mapping>
</web-app>